# Python
__pycache__/
*.pyc
*.pyo

# Entornos
.env
venv/
env/

# OS
.DS_Store

# IDE
.vscode/

# Jupyter
.ipynb_checkpoints/

# Archivos no necesarios para el deploy
bar.py
plot.py
build_informe.py
informeN.xlsx
main.py
